@import url("https://yonueltutorial.github.io/ACSE-Theme/css/main.css");
@import url("https://yonueltutorial.github.io/ACSE-Theme/css/buttons.css");

:root {
    --primary-color: 163, 104, 230;
    --overlay-color: 255, 255, 255;
    --overlay-opacity: 0.12;
    --blur: 1.6em;
    --border-thickness: 1px;
    --icon-color: 163, 104, 230;
    --dropdown-bg-opacity: 0.18;
    --animation-speed: 0.2s;
    --bg-img: url("https://yonueltutorial.github.io/ACSE-Theme/css/default-bg.jpg");
    --bg-blur: 10px;
    --bg-brightness: 0.55;
}
